.book-icon {
  height: 45px;
  width: 45px;
}

.showcase-pic {
  height: 80px;
  width: 80px;
}

.paper-plane {
  height: 30px;
  width: 40px;
}

.like-btn {
  margin-top: 0.5rem;
  border-width: 0;
}

.like-btn:hover {
  transform: scale(1.1);
}

#submit-comment {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  filter: invert(2);
  margin: 1rem;
}

#submit-comment:hover {
  filter: drop-shadow(0px 0px 4px #ffffff);
}