html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #05171e;
}

p {
  font-size: 1.6rem;
  font-family: 'Raleway-Medium';
  color: white;
}

h1 {
  font-size: 4.2rem;
  font-family: 'Rubik-Extrabold';
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}