html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #05171e;
}

p {
  font-size: 1.6rem;
  font-family: 'Raleway-Medium';
  color: white;
}

h1 {
  font-size: 4.2rem;
  font-family: 'Rubik-Extrabold';
  color: white;
}

h2 {
  font-size: 3.4rem;
  font-family: 'Rubik-Extrabold';
  color: white;
  text-align: center;
}

th {
  font-size: 1.6rem;
  font-family: 'Rubik-Extrabold';
  color: white;
}

td {
  font-size: 1.6rem;
  font-family: 'Rubik-Medium';
  color: white;
}

h3 {
  font-size: 2.2rem;
  font-family: 'Rubik-Extrabold';
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}